.rightSide {
  background: #1e1e1e;
  color: white;
  width: 50vw;
  height: 100vh;
  /* padding: 6vw; */
  /* padding-top: 3vw; */
  /* padding-left: 2vw; */
  /* padding-bottom: 6vw; */
  /* padding-l: 6vw; */
  box-sizing: border-box;
  text-align: center;
}
.SuperText {
  color: #72db73;
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Single Day";
}
.upperText p {
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 0px;
}
form input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 70%;
  background-color: #292929;
  border: none;
  border-radius: 6px;
  color: white;
}

form label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 30px; */
  /* margin-top: 10px; */
}

form label input {
  margin: 0px;
  padding: 0px;
  /* width: 24px; */
}

form button {
  box-shadow: none;
  width: 70%;
  margin-top: 12px;
  border-radius: 24px;
  padding: 10px 12px;
  color: white;
  background-color: #72db73;
  border: none;
}

.footer p {
  font-size: 10px;
  color: #7c7c7c;
  width: 70%;
  margin: 12px auto;
  text-align: left;
  line-height: 1.2rem;
}
.error {
  font-size: 0.4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: red;
}
